.counter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff0000;
}

.counter__title {
  font-size: 1.2rem;
  color: #00ff00;
  font-weight: 600;
}

.about__content {
  padding-left: 20px;
}

.about__img img {
  border-radius: 50%;
}

.about__content h2 {
  font-weight: 700;
  color: #0000ff;
}
